# Prerequisites
*.d
.DS_Store
*.npy
*gitignore.json
*.mp4
gridsearch_data/
wetlab_data/
sr_outputs/
wetlab_data/
*/__pycache__/
*/__marimo__/
*/layouts/
fileOut*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build results:
build/

# Marimo related:
*/__marimo__/
__marimo__

# Output data:
*.csv
fileOutputs*
gridsearch.txt
.vscode/*
.cache/*
outputs/*
out*
slurm*